.comments {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.comment-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid #dbd2e0;
  border-radius: 10px;
  padding: 1.2rem;
}

.comment-name {
  font-size: 1.2rem;
  color: #584c5f;
}

.comment-post {
  font-size: 1.4rem;
  color: #211925;
}

.comment-form {
  margin: 0 auto;
  width: 60%;
}

.comment-form label,
.comment-form input {
  font-size: 1.2rem;
}
