* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px/16px =.625 */
  font-size: 62.5%;
  overflow-x: hidden;
  /* doesnt work on safari or edge */
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #002400;
  max-width: 80rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 4.2rem;
  font-size: 3.2rem;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: #58641d;
  text-decoration: none;
}

a:hover,
a:active {
  color: #dbd2e0;
}
